* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  padding: 5px;
}

/* .dataContainer {
  margin-left: auto;
  margin-right: auto;
} */

.pictureList {
  margin-left: auto;
  margin-right: auto;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 15px;
  margin: 5px;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.home-button a {
  text-decoration: none;
}

#background-video{

height: 100vh;
width: 100%;

}

.enter-div {
  position: relative;
}

.enter {
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 10%;
  right: 10%;
}

.not-found {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .pictureList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap; */
  }

  a {
    color: black;
  }

  .enter {
    background-color: white;
    width: 180px;
    left: 20px;
    top: 50%;
  }

  .home-button a {
    color: white;
  }
}