* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;

}

.navy {
  background-color: navy;
  width: 100%;
}

a {
  color: white;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  padding: 5px;
}

.dataContainer {
  padding: 10px;
}

.pictureList {
  margin-left: auto;
  margin-right: auto;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 15px;
  margin: 5px;
  color: white;
  background-color: #14213d;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.home-button a {
  text-decoration: none;
}

#background-video {
  height: 100vh;
  width: 100%;
}

.enter-div {
  position: relative;
}

.enter {
  color: #ffffff;
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 10%;
  right: 10%;
}

.subtitle {
  position: absolute;
  top: 25px;
  left: 25%;
  color: black;
  font-size: 16px;
  font-style: italic;
}

.not-found {
  padding: 10px;
}

@media (min-width: 768px) {
  .pictureList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  a {
    color: black;
  }

  .enter {
    background-color: transparent;
    width: 180px;
    left: 20px;
    top: 50%;
  }

  .subtitle {
    left: 40%
  }

  .home-button a {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .subtitle {
    left: 42%;
    top: 10px;
  }
}